body div:nth-child(1){
border:2px solid orange;
width:200px;
height:250px;


}
body div:nth-child(2){
border:2px solid orange;
width:200px;
height: 250px;

}
body div:nth-child(3){
border:2px solid orange;
width:200px;
height:250px;

}